<nav class="border split-nav" aria-label="Main">
  <div class="nav-brand">
    <h3><a href="{{ .Site.Params.navTitleLink | default "/" }}">{{ .Site.Title }}</a></h3>
  </div>
  <div class="collapsible">
    <input id="collapsible1" type="checkbox" name="collapsible1" aria-label="Toggle navigation">
    <label for="collapsible1">
      <span class="bar1"></span>
      <span class="bar2"></span>
      <span class="bar3"></span>
    </label>
    <div class="collapsible-body">
      <ul class="inline">
{{- range .Site.Menus.nav }}
        {{- $active := eq (path.Clean (.URL | relURL)) (path.Clean $.RelPermalink) }}
        <li><a href="{{ .URL }}"{{ if $active }} aria-current="page"{{ end }}>{{ .Name }}</a></li>
{{- end }}
      </ul>
    </div>
  </div>
</nav>
